// @source http://smacss.com/book/type-layout
//
// Layout Rules
//
// Layout styles can also be divided into major and minor styles based on
// reuse. Major layout styles such as header and footer are traditionally
// styled using ID selectors but take the time to think about the elements
// that are common across all components of the page and use class selectors
// where appropriate.

.container {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

.content {
  width: 100%;
  padding: 8px;
  height: auto;
}

.column {
  width: 100%;
  height: 100%;
  overflow: auto;
  margin: 0;
  padding: 0;
}


.box {
  @include clearfix();
  width: 100%;
  height: 100%;
  overflow: hidden;

  .container, .box, .column {
    float: left;
  }

}
