input {
  font-size: 1.4rem;
}

.branch {
  font-size: 1.4rem;
  list-style-type: none;
  /*color: #fff;*/
  position: relative;
  margin-left: -30px;
  padding: 8px;

  &[type="$before"] {
    &, button span {
      color: #6B0C22;
    }
  }

  &[type="$beforeEach"] {
    &, button span {
      color: #D9042B;
    }
  }

  &[type="$ops"] {
    &, button span {
      color: #8364F4;
    }
  }

  &[type="$after"] {
    &, button span {
      color: #588C8C;
    }
  }

  &[type="$afterEach"] {
    &, button span {
      color: #011C26;
    }
  }
}

.branch label {
  cursor: pointer;
  /*background: url("static/folder-horizontal.png") no-repeat 15px 2px;*/
  display: block;
  display: inline-block;
}

.branch input {
  width: 1.4rem;
  height: 1.4rem;
  position: absolute;
  left: 0.8rem;
  top: 1.9rem;  opacity: 0;
  cursor: pointer;
}

.branch input + ol {
  height: 1.6rem;
  margin: -16px 0 0 -44px;
  /*background: url("static/toggle-small-expand.png") no-repeat 40px 0;*/
}

.branch input + ol > li {
  display: none;
  margin-left: -14px !important;
  padding-left: 1px
}

li.leaf {
  margin-left: -1px !important;
}

li.leaf a {
  display: inline-block;
  padding-left: 21px;
  color: #fff;
  text-decoration: none;
  padding: 4px;
  /*background: url("static/document.png") no-repeat 0 0;*/
}

li input:checked + ol {
  height: auto;
  margin: -20px 0 0 -45px;
  padding: 25px 0 0 75px;  /*background: url("static/toggle-small.png") no-repeat 40px 5px;*/
}

li input:checked + ol > li {
  display: block;
}

li input:checked + ol > li:first-child {
}
